/* TODO Add site wide styles */
body {
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 100px;
}

.header h1 {
  font-size: 65px;
  font-weight: 400;
  color: #495057;
  margin-left: 20px;
}

.page-wrapper {
  margin: 0 20px;
}